   * {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.back_button
{
    width: 4%;
    margin-left: 30%;
    margin-top: 5%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

form
{
    width: 25%;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    border-style: hidden solid double;
    border-color: darkslategray;
}

h1
{
    margin-top: -5%;
    font-size: 60px;
    text-align: center;
    color: darkslategray;
}

p{
    text-align: center;
}
.Logo_size
{
    width: 50%;
}