.container {
    position: absolute;
    margin: 0 30%;
    background-color: #ffffff;
    width: 40%;
    height: auto;
    border-radius: 10px;
  }

 form
 {
     padding: 14px 20px;
     width: 40%;
 }

 .button:hover
 {
     opacity: 0.8;
 }

  .Logo
  {
        margin-top: 18%;
        margin-right: 10%;
        float: right;
  }