<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Changepassword.css') }}">
</head>
<style>
     body {
        background-image: url({{ url_for('static', filename='img/BackGroundImage.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

</style>

<body>
<div id="change_password">
        <form method="post" autocomplete="off" action="">
            <div class="Set_new_password">
            <p style="text-align: center"><a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo1.png') }}"></a></p>
            <h2 style="text-align: center">Change password</h2>
            <input type="password" placeholder="Old Password" name="oldPassword" required>
            <input type="password" placeholder="New Password" name="newPassword" required>
            <input type="password" placeholder="Confirm Password" name="newPassword2" required>
            <button class="save_password" type="submit" style="margin-bottom: 5%; outline: none">Submit</button>
            <div class="msg"><p style="text-align: center">{{ msg }}</p></div>
        </div>
        </form>

    </div>
</body>
</html>