<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactus.css') }}">
</head>

<style>
 body
 {
     background-image: url({{ url_for('static', filename='img/BackGroundImage.jpg') }});
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
 }

</style>
<body>
<div class="container">
      <div style="text-align:center">
        <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo1.png') }}"></a>
        <h2>Contact Us</h2>
      </div>

      <div class="row">
          <form action="" method="post">
              <div class="displayLeft">
                    <label for="fname">First Name:</label>
                    <input type="text" id="Fname" name="firstname" placeholder="First name" required>
                      <br>
                     <label for="email">Email:</label>
                    <input type="text" id="Email" name="lastname" placeholder="Email" required>
              </div>

              <div class="display_right">
                   <label for="lname">Last Name:</label>
                   <input type="text" id="Lname" name="lastname" placeholder="Last name" required>
                   <br>
                   <label for="country">Country:</label>
                   <input type="text" id="Country" name="lastname" placeholder="Country" required>
              </div>

              <div class="Comment">
              <label for="subject">Comment</label>
              <textarea id="Subject" name="feedback" placeholder="Write something.." style="height:130px" required></textarea>
              </div>

               <p style="text-align: center"><button type="submit">Submit</button></p>
          </form>
      </div>
</div>
</body>
</html>