<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ForgetPassword.css') }}">
</head>

<style>
     body
    {
        background-image: url({{ url_for('static', filename='img/ForgetPassword_background.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

</style>
<body>
<h1>Reset password</h1>
<form method="post" autocomplete="off" action="">
  <div class="container">
      <p><a href="{{ url_for('login_page') }}"><img class="Logo" src="{{ url_for('static', filename='img/Logo2.png') }}"></a></p>
      <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email address" name="email" required>
   <p><button type="submit">Send</button></p>
  </div>
</form>
</body>
</html>