<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgetPasswordPage.css') }}">
</head>

<style>
     body
    {
        background-image: url({{ url_for('static', filename='img/ForgetPassword_background.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<body>
<a href="{{ url_for('login_page') }}"><img class="back_button" src="{{ url_for('static', filename='img/back.png') }}"></a>
<h1>`Reset password`</h1>
<form action="" method="">
  <div class="container">
      <p><img class="Logo_size" src="{{ url_for('static', filename='img/Logo2.png') }}"></p>
      <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email address" name="uname" required>
   <p><button type="submit">Send</button></p>
  </div>
</form>


</body>
</html>