<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Game') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Game.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<style>
    header{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url({{ url_for('static', filename='img/SearchGame.jpg') }});
        height: 110vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
</style>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
             <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo2.png') }}"></a>
        </div>

        <ul class="nav">
            <li><a href="{{ url_for('stock_Account_api.stock_page') }}">{{ _('Stock Market') }}</a></li>
            <li><a href="{{ url_for('stock_Account_api.portfolio_Page') }}">{{ _('Portfolio') }}</a></li>
            <li><a href="{{ url_for('transaction_history') }}">{{ _('Transaction History') }}</a></li>
            <li><a href="{{ url_for('Create_Game') }}">{{ _('Create Game') }}</a></li>
            <li class="dropdown">
                    <span class="user_name">{{ session['username']}}</span>
                    <div class="dropdown-content">
                    <a href="{{ url_for('account_api.edit_profile') }}">{{ _('Profile') }}</a>
                    <a href="{{ url_for('account_api.changePassword_page') }}" >{{ _('Password') }}</a>
                    <a href="{{ url_for('Loan') }}">{{ _('Loan') }}</a>
                    <a href="{{ url_for('gamePage') }}">{{ _('Game') }}</a>
                    <a href="{{ url_for('contact') }}">{{ _('Contact') }}</a>
                    <a href="{{ url_for('login_page') }}">{{ _('Sign out') }}</a>
                    </div>
            </li>
        </ul>
    </div>

    <div class="info">
        <div class="search" >
            <a >{{ _('Current Game:') }}</a>
            <a>{{ game }}</a>
            <br>
           <form action="" method="POST">
               <div id="searchBar">
                   <input style="outline: none;width: 60%; padding: 8px; text-align: center;" type="text" placeholder={{ _('Search For Game') }} name="gameName" class="input-field " value="{{ gameName }}">
               </div>
               <button style="margin-left: 15%" class="enter_btn" type="submit">{{ _('Search') }}</button>
           </form>

            <p style="color: white; text-align: center">{{ error }}</p>
            {% for games in gameData %}
                <form  action="" method="POST" onclick="myFunction()">
                    <a> {{ games['GameName'] }} </a>
                    <button class="enter_btn" type="submit" >{{ _('Join') }}</button>
                </form>
            {% endfor %}

       </div>
    </div>

<script>
function myFunction() {
    const password = prompt("Please enter the Password", "Password");
    $.post( "/post_game", {
    javascript_data: password
  });
}
</script>


</header>
</body>
</html>
