<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/HOME_Page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Leaderboard.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<style>
    header{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ url_for('static', filename='img/backgound_home.jpeg') }});
        height: 110vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .AccountMoneyDisplay
    {
        font-size: large;
        color: white;
        position: absolute;
        margin: 15% 5%;
    }
</style>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Logo2.png') }}">
        </div>
        <ul class="nav">
            <li><a href="{{ url_for('stock_Account_api.stock_page') }}">Stock Market</a></li>
            <li><a href="{{ url_for('stock_Account_api.portfolio_Page') }}">Portfolio</a></li>
            <li><a href="{{ url_for('transaction_history') }}">Sell History</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            <li class="dropdown">
                    <span class="user_name">{{ session['username']}}</span>
                    <div class="dropdown-content">
                    <a href="{{ url_for('account_api.edit_profile') }}">Profile</a>
                    <a href="{{ url_for('account_api.changePassword_page') }}" >Password</a>
                    <a href="{{ url_for('login_page') }}">Sign out</a>
                    </div>
            </li>
        </ul>
    </div>

{#<form id="FormDisplay" action="" method="post">#}
{#        <table>#}
{#                <caption style="font-size: 50px; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif; text-align: center">Leader Board</caption>#}
{#                <tr>#}
{#                    <th>Place</th>#}
{#                    <th>Username</th>#}
{#                    <th>Fund Available</th>#}
{#                </tr>#}
{#                {%for i in range(0, len)%}#}
{#                    <tr>#}
{#                       <td>{{i + 1}}</td>#}
{#                       <td>{{data[i]['username']}}</td>#}
{#                       <td>${{ '%0.2f'| format(data[i]['amount_Money']|float) }}</td>#}
{#                    </tr>#}
{#                {%endfor%}#}
{#        </table>#}
{# </form>#}


<div class="Learderboard">

    <div class= "position">
      <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
       <div class="Information">Your Score</div>
  </div>

        <div class="logo2">
            <img src="{{ url_for('static', filename='img/leaderboard.png') }}">
        </div>
        <div class= "position2">
             <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
              <div class="Information2">Your Rank</div>
        </div>
  <div style="width:700px;height:300px;border:1px solid #f8f8f8;position: absolute; left:30px; top: 250px;">
    <div class="tablediv">
    <table id="table1">
                <tr>
                    <th style="color: #f8f8f8"><i class='fas fa-star' style='font-size:20px;color:red'></i>Rank</th>
                    <th style="color: #f8f8f8"> <i class='fas fa-user-circle' style='font-size:20px;color:red'></i> Name </th>
                    <th style="color: #f8f8f8"><i class='fas fa-trophy' style='font-size:20px;color:red'></i>Score</th>
                </tr>

                {%for i in range(0, len)%}

                    <tr id="tbody">
                       <td style=" color: #f8f8f8;text-align: center; font-size: 15px">{{i + 1}}</td>
                       <td style=" color: #f8f8f8;text-align: center ;font-size: 15px">{{data[i]['username']}}</td>
                       <td style=" color: #f8f8f8;text-align: center; font-size: 15px">${{ '%0.2f'| format(data[i]['amount_Money']|float) }}</td>
                    </tr>

                {%endfor%}

    </table>
    </div>
  </div>
</div>
</header>
</body>
</html>