<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LoanPage.css') }}">
</head>

<style>
    body
    {
         background-image: url({{ url_for('static', filename='img/BackGroundImage.jpg') }});
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: 100% 100%;
    }

</style>

<body>

<div class="container">
    <div style="text-align:center">
        <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo1.png') }}"></a>
        <h2>{{ _('Loan') }}</h2>
    </div>

    <div class = "GetLoanDisplay">
        <p style="text-align: center" class="information">{{ _('Enter amount of loan:') }}</p>
        <form method="post">
            <input style="width: 50%; margin-left: 25%" class="placeholdermoney" placeholder="Range 1000 - 1000000" type="text" name = "Loan_Amount" required>
            <br>
            <button class="buttonSubmit" type="submit"  name = "Loan_Amount_Submit">{{ _('Submit') }}</button>
            <p style="text-align: center">{{ Confirm_Msg }}</p>
        </form>
    </div>

</div>
</body>
</html>