<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_p.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<style>
    body
    {
        background-image: url({{ url_for('static', filename='img/background.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<body>
<div class="wrapper">
    <img class="Logo" src="{{ url_for('static', filename='img/Logo2.png') }}">
    <form action="" method="post">
        <div class="container">
            <h2>{{ _('Member Login') }}</h2>
            <label for="">
                <input type="text" placeholder={{ _('Username') }} name="username" required>
                <input type="password" placeholder= {{ _('Password') }} name="password" required>
            </label>
                <button class="login_btn" type="submit" style="outline: none">{{ _('Login') }}</button>
                <p><span class="psw">{{ _('Forgot') }} <a href="{{ url_for('account_api.forgetPassword_page') }}">{{ _('Password?') }}</a></span></p>
                <p><a href="{{ url_for('account_api.signup_page') }}" class="Create_account" >{{ _('Create your account') }}</a></p>
        </div>
    </form>
    <div id="errorText">{{ msg }} </div>
</div>
</body>
</html>

