<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LoginP.css') }}">
</head>

<style>
    body
    {
        background-image: url({{ url_for('static', filename='img/background.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<script>
  setTimeout(function(){$('#errorText').fadeOut();}, 1);
</script>

<body>
<div class="wrapper">
    <img class="Logo" src="{{ url_for('static', filename='img/Logo2.png') }}">
    <form action="" method="post">

        <div class="container">
            <h2>Member Login</h2>
            <label for="">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
            </label>
                <button class="login_btn" type="submit">Login</button>
                <p><span class="psw">Forgot <a href="{{ url_for('forgetPassword_page') }}">password?</a></span></p>
                <p><a href="{{ url_for('signup_page') }}" class="Create_account" >Create your account</a></p>
        </div>
    </form>
    <div id="errorText">{{ msg }}</div>
</div>
</body>
</html>