<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PaybackLoad.css') }}">
</head>

<style>
    body
    {
         background-image: url({{ url_for('static', filename='img/BackGroundImage.jpg') }});
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: 100% 100%;
    }
</style>

<body>

<div class="container">
    <div style="text-align:center">
        <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo1.png') }}"></a>
        <h2>Loan</h2>
    </div>

    <div id = "LoanPlayBack">
        <form method="post">
            <p style="text-align: center" class="InformationPayBack">{{ _('Pay back day: ') }} {{ PaybackDay | getAppropriate_Date}}</p>
            <p style="text-align: center" class="InformationAmount">{{ _('Amount of money in account: ') }} {{ AccountMoney | ConvertNumberToEuros}}</p>
            <p style="text-align: center" class="InformationPayBAck">{{ _('Amount of money need to pay back: ') }} {{ Amount_Of_Money_need_to_PayBack_Left | ConvertNumberToEuros }}</p>

            <input  style="width: 50%; margin-left: 25%" class="loanAmount" type="text" placeholder="Pay back Price:" name = "Pay_Back_Loan_Money" required>
            <br>
            <button class="InformationButton" type="submit"  name = "Pay_Back_Loan_Money_Submit">{{ _('Submit') }}</button>
            <p style="text-align: center">{{ msg }}</p>
        </form>

    </div>
</div>
</body>
</html>