<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ _('Portfolio') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protfolio.css') }}">
</head>

<style>
    header
    {
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ url_for('static', filename='img/portfolio.jpg') }});
        height: 110vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

</style>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <li><a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo2.png') }}"></a></li>
        </div>
        <ul class="nav">
            <li><a href="{{ url_for('home_page') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('stock_Account_api.stock_page') }}">{{ _('Stock Market') }}</a></li>
            <li><a href="{{ url_for('transaction_history') }}">{{ _('Transaction History') }}</a></li>
            <li class="dropdown">
                    <span class="user_name">{{ session['username']}}</span>
                    <div class="dropdown-content">
                        <a href="{{ url_for('account_api.edit_profile') }}">{{ _('Profile') }}</a>
                        <a href="{{ url_for('account_api.changePassword_page') }}">{{ _('Change Password') }}</a>
                        <a href="{{ url_for('Loan') }}">{{ _('Loan') }}</a>
                        <a href="{{ url_for('contact') }}">{{ _('Contact') }}</a>
                        <a href="{{ url_for('login_page') }}">{{ _('Sign out') }}</a>
                    </div>
            </li>
        </ul>
    </div>
    <form action="" method="post">
    <table>
     <tr>
         <th>{{ _('Stock Name') }}</th>
         <th>{{ _('Name Of Company') }}</th>
         <th>{{ _('Number of Shares') }}</th>
         <th>{{ _('Purchase Price') }}</th>
         <th>{{ _('Purchase Date') }}</th>
         <th>{{ _('Current Share Price') }}</th>
         <th>{{ _('Current Gain') }}</th>
     </tr>
         {%for i in range(0, len)%}
             <tr>
                 <td>{{account[i]['symbol_Of_Stock']  }}</td>
                 <td>{{account[i]['CompanyName'] }}</td>
                 <td>{{ (account[i]['numberOfShareAtBuying'] - account[i]['numberOfShareSold']) | ConvertNumberToEuros }}</td>
                 <td>{{account[i]['priceOfShareAtBuying'] | ConvertNumberToEuros }}</td>
                 <td>{{account[i]['boughtShare'] }}</td>
                 <td>{{account[i]['sellSharePrice'] | ConvertNumberToEuros }} </td>
                 <td>{{account[i]['Gain'] | ConvertNumberToEuros }} </td>
                 <td><button class="enter_btn" name="Sell" value="{{account[i]['transactions_ID']}}" type="submit">{{ _('Sell') }}</button></td>
            </tr>
         {% endfor %}

         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td><b>{{ _('TOTAL VALUE') }}</b></td>
         <td><b>{{ totalGain | ConvertNumberToEuros }}</b></td>
     </table>
</form>
</header>
</body>
</html>