<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css') }}">
</head>

<style>
    body
    {
        background-image: url({{ url_for('static', filename='img/background.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<body>
<div class="wrapper">
    <a href="{{ url_for('login_page') }}"><img class="Logo" src="{{ url_for('static', filename='img/Logo2.png') }}"></a>
    <form action="">
        <div class="container">
            <h2>Sign up</h2>
            <label for="">
                <input class="input-field" type="text" placeholder="User name" name="uname" required>
                <input type="email" placeholder="Email" name="uname" required>
                <input type="password" placeholder="Password" name="uname" required>
                <input type="password" placeholder="Confirm Password" name="uname" required>
            </label>
                <button class="login_btn" type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>