<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Transaction History') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TransactionHistory.css') }}">
</head>

<style>
    header{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ url_for('static', filename='img/TransactionHistorybackGroud.jpg') }});
        height: 110vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

</style>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
           <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/Logo2.png') }}"></a>
        </div>
        <ul class="nav">
            <li><a href="{{ url_for('home_page') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('stock_Account_api.stock_page') }}">{{ _('Stock Market') }}</a></li>
            <li><a href="{{ url_for('stock_Account_api.portfolio_Page') }}">{{ _('Portfolio') }}</a></li>
            <li class="dropdown">
                    <span class="user_name">{{ session['username']}}</span>
                    <div class="dropdown-content">
                    <a href="{{ url_for('account_api.edit_profile') }}">{{ _('Profile') }}</a>
                    <a href="{{ url_for('account_api.changePassword_page') }}" >{{ _('Change Password') }}</a>
                    <a href="{{ url_for('Loan') }}">{{ _('Loan') }}</a>
                    <a href="{{ url_for('contact') }}">{{ _('Contact') }}</a>
                    <a href="{{ url_for('login_page') }}">{{ _('Sign out') }}</a>
                    </div>
            </li>
        </ul>
    </div>

    <form action="" method="post">
    <table>
     <tr>
         <th>{{ _('List') }}</th>
         <th>{{ _('Transaction Date') }}</th>
         <th>{{ _('Process') }}</th>
         <th>{{ _('Price') }}</th>
         <th>{{ _('Amount of Money') }}</th>
     </tr>
        {%for i in range(0, len)%}
            <tr>
                <td>{{Account[i]['HistoryID'] }}</td>
                <td>{{Account[i]['Transaction_Date'] }}</td>
                <td>{{Account[i]['Process_Des'] }}</td>
                <td>{{Account[i]['Price'] | ConvertNumberToEuros }}</td>
                <td>{{Account[i]['Amount_of_Money'] | ConvertNumberToEuros }}</td>
            </tr>
        {% endfor %}
     </table>
    </form>
</header>
</body>
</html>